
.user_name{position:relative;font-size: 11px;color: #7f7f7f;margin-top:40px;margin-bottom:14px;}
.user_name b{position: absolute;left: 51px;top:-25px;z-index: 10;display: inline-block;width:120px;height:120px;border-radius:120px;background:url("../images/snapimg.png") no-repeat 0 -208px;overflow: hidden;}
.user_name b i{display:none;width:112px;height:112px;border-radius:112px;margin:4px;z-index:11;
    background:rgba(105, 100, 100, 0.33) url("../images/yun.png") no-repeat 50% center;}
.user_name p{margin-left: 190px;}
.user_name p>span{font-size: 17px;text-transform: capitalize;}
.user_name p>i{font-size: 12px;}
.user_name p>i:nth-child(2){text-transform:capitalize;}
.user_name p>i:nth-child(3){text-transform:uppercase;}
.user_name p>i:nth-child(4){text-transform:uppercase;}





.user_main{width:948px;padding-left:26px;padding-right:26px;height: 514px;background-color: #fbfbfb;overflow: hidden;}



.user_header{height: 30px;border-bottom: 1px solid #e8e8e8;position: relative;}
.user_header ul{margin-left: 198px;height:55px;cursor:pointer;background: url("../images/line.png") no-repeat;}
.user_header ul li{float: left;width:180px;text-align: center;}
.user_header ul li a{display: inline-block;letter-spacing:1px;word-spacing:7px;font-size:13px;height: 28px;line-height: 28px;padding-left: 5px;padding-right: 5px;}
/*
.user_h_line{display:block;position: absolute;z-index:9;top:28px;left:238px;width: 140px;height: 4px;background-color:red;}
*/

.user_list input{padding-left:22px;height: 46px;border-radius: 5px;border: 1px solid #c1c1c1;outline: 0;font-size:16px;color: #afaeae;}
.user_list label{display: block;font-size: 11px;color: #b7b7b7;line-height:40px;}
.user_list label b{font-size:15px;color:#9e9d9d;margin-right: 20px;}

.user_list label em{margin-left: 10px;font-size: 13px;color:#D7342F;}


.user_list button{width: 160px;height: 48px;border-radius: 5px;background-color:#d7342e;border:none;margin-left: 11px;font-size: 15px;color: #fff;outline: 0;}
.user_list button:hover{background-color: #720802;}
.user_list button:active{background-color: #720802;}

/****/
.user_list>div{position: relative;}
.u_l_0{top:0;}
.u_l_1{top:-222px;}
.u_l_2{top:-628px;}
.u_l_3{top:-1085px;}
/****/
.u_l_0{margin-left: 54px;margin-top: 187px;}
.u_l_0 input{width: 648px;}

.u_l_1{margin-top: 53px;margin-left: 54px;margin-right: 54px;width: 848px;}
.u_l_1 input{width:824px;}
.u_l_1 button{display:block;margin-top:40px;float:right}


.u_l_2{width:948px;height:428px;margin-top:40px;overflow:hidden;background: #fbfbfb;}

/*滚动条*/
.mxScrollbar{float: left;position: absolute;width:100%;height:100%;overflow: hidden;}
.mx-ScrollBox{width: auto; margin-right: 12px;}

/*color*/
.mx-draggerCon{display: none;position: absolute;right:0;top:0;width:2px;height: 100%;background-color: #e8e8e8;}
.mx-draggerCn{position: absolute;top: 0;left: 0;width:5px;height:34px;background-color: #d7342e; cursor:pointer;}

.mx_container li{height:114px;padding-top:27px;border-bottom: 1px solid #e8e8e8;}

.mx_container li div span{float:left;width: 16px;height: 16px;margin-top:49px;background: url("../images/snapicon.png") no-repeat 0 -1065px;}
.mx_container li div span.c_this{float:left;width: 16px;height: 16px;margin-top:49px;background: url("../images/snapicon.png") no-repeat 0 -1031px;}

.mx_container li div dl dt{float:left;width: 158px;height: 106px;background: url("../images/snapimg.png") no-repeat 0 -501px;margin-left: 42px;margin-right: 23px;}
.mx_container li div dl dd{float:left;color: #727171;width: 650px;}
.mx_container li div dl dd h6{font-size: 16px;margin-bottom: 20px; }
.mx_container li div dl dd p{font-size:12px;line-height: 20px;word-wrap:break-word;text-align:justify;}

.mx_container li div em{display:none;float:right;width: 16px;height: 16px;margin-top:49px;background: url("../images/snapicon.png") no-repeat 0 -1096px;}

.xiangqing span{float:left;width: 158px;height: 106px;background: url("../images/snapimg.png") no-repeat 0 -501px;padding: 0 30px 10px 0;}
.xiangqing h6{font-size: 16px;margin-bottom: 20px;color: #727171;}
.xiangqing p{font-size:12px;line-height: 20px;color: #a2a2a2;word-wrap:break-word;text-align:justify;}

/*滚动条*/

.u_l_3{margin-top:78px;margin-right: 51px;margin-left: 51px;}
.u_l_3 p{font-size: 11px;color: #b7b7b7;margin-bottom:12px;}
.u_l_3 textarea{display:block;width:835px;height:250px;padding:10px;border: 1px solid #c1c1c1;outline: 0;font-size:16px;color: #afaeae;margin-bottom: 18px;
    overflow:hidden; resize:none;}
.u_l_3 textarea+span{color: #d53535;font-size: 13px;line-height: 20px;float: left;margin-top: 10px;}
.u_l_3 button{float: right;}


/*dialog*/
.mark{display:none;width: 100%;height: 100%;position: fixed;top:0;left:0;right:0;bottom:0;background-color: rgba(80, 80, 80, 0.43);z-index:110;}
.dialog{display:none;width: 800px;height: 550px;background-color: #fff;position: absolute;left: 50%;top:50%;margin-left: -400px;margin-top:-275px;z-index: 111;}
.dialog p{font-size: 16px;color: #848484;margin-top: 23px;margin-bottom: 12px;margin-left: 32px;}

.but{padding-left:32px;padding-right:32px;width:736px;height: 90px;border-top:1px solid #c6c6c6;position: absolute;bottom:0;}
.but ul li:nth-child(1){float: left;}
.but ul li:nth-child(2){float: right;}
.but ul li:nth-child(2) button{margin-left: 16px;}


.but ul li label{display:inline-block;text-align:center;width: 140px;height: 48px;line-height:48px;border-radius: 4px;background-color: #b0b0b0;font-size: 16px;color: #fff;margin-top: 20px;}
.but ul li input{opacity: 0;position: absolute;}
.but span{display:none;color:#d7342e;font-size: 14px;margin-left:152px;position: absolute;top:51px;}


.but button{outline:0;width: 140px;height: 48px;border-radius: 4px;background-color: #b0b0b0;border: none;font-size: 16px;color: #fff;margin-top: 20px;}
.but button:hover{background-color: #d7342e;}


.but ul li label:hover{background-color:#d7342e}







